<% unless @item.new_record? %>
<li>
  <div class="localize">
    <%= label_tag "ua" %>
    <%= radio_button_tag :locale, "ua", false, {:onclick => remote_function(:update => "content", :url => {:action => "edit", :locale => "ua" }, :method => "get")} %>
    <%= label_tag "en" %>
    <%= radio_button_tag :locale, "en", false, {:onclick => remote_function(:update => "content", :url => {:action => "edit", :locale => "en" }, :method => "get")} %>
    <%= label_tag "fr" %>
    <%= radio_button_tag :locale, "fr", false, {:onclick => remote_function(:update => "content", :url => {:action => "edit", :locale => "fr" }, :method => "get")} %>
  </div>
</li>
<% end %>