<h1><%= l @current_date.date, :format => :main %></h1>

  <h2>
    <% @current_date.apostles.each do |a| %>
      <%= t(:apostle) %> <%= link_to a.name, a %><br/>
    <% end %>
  </h2>

  <p class="remark"><%= @current_date.remark %></p>
  <img src="/images/under-light.jpg" alt=""/>

  <%= image_tag @current_date.apostles.first.avatar(:croped), :alt=>@current_date.apostles.first.name, :class=>"icon" unless @current_date.apostles.empty? %>

    <% @current_date.prayers.each do |p| %>
      <div class="prayer">
        <span class="title"><%= p.name %></span>
        <p><%= p.text %></p>
      </div>
    <% end %>
